streamlit==1.36.0
pysqlite3-binary
chromadb==0.4.24
sentence-transformers==2.7.0
numpy==1.26.4
requests==2.32.3
langchain-text-splitters
gitpython==3.1.43
torch
transformers
langchain
langchain-core
langchain-community
langchainhub
rich==13.7.1
duckduckgo-search
